@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik-Medium.ttf);
  font-weight: 500;
}

:root {
  --primary: #1e3799;
  --secondary: #38ada9;
  --dark: #3D3D3F;

  --small-size: 10px;
  --medium-size: 14px;
  --large-size: 18px;
  --extra-large-size: 24px;
  --huge-size: 32px;
  --giant-size: 48px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
  color: var(--dark);
}

.btn {
  background: linear-gradient(200deg, var(--primary), blue);
  border: none;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

.container {
  width: 1225px;
  max-width: 1440px;
  margin: 0 auto;
}